@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #7C93C3;
}

body {
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .horizontal-flex
  {
    flex-direction: row;
    display: flex;
    justify-content: 0;
  }
}

.scrollbar-hide {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE y Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari y navegadores basados en WebKit */
}
